@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.about h1 {
    font-family: Poppins, sans-serif;
    margin-top: 7rem;
    margin-left: 5rem;
}



@media only screen and (max-width: 600px) {
    .about {
        display: table-column;
    }
    .food-deck {
        width: 400px;
        height: 450px;
        margin: 7rem;
        display: none;
    }
    .about p {
        font-family: Poppins, sans-serif;
        justify-content: right;
    }
} 

.about {
    display: flex;
}
.food-deck {
    width: 400px;
    height: 450px;
    margin: 7rem;
}
.about p {
    font-family: Poppins, sans-serif;
    justify-content: right;
    margin: 5rem;
}
