nav{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-container{
    width: 100%;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-img img{
    width: 50px;
}
nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding: 5px 10px;
    margin:0 10px;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}
nav ul li::before{
    content: "";
    height: 3px;
    width: 3px;
    position: absolute;
    background-color: #3e7c39;
    bottom: 0; 
    left: 10px;
    transition: all 0.5s ease-in-out;
    transform: scale(0);
}
nav ul li:hover::before{
    transform: scale(1);
    width: 80%;
}
.nav-icons{
    display: none;
}





@media only screen and (max-width: 600px) {
    .nav-icons{
        display: block;
    }
    .nav-ul{
        width: 100%;
        height: 35vh;
        display: block;
        position: absolute;
        padding-top: 1rem;
        top: 85px;
        left: 0;
        margin: 0;
        color: white;
        background-color: black;
        transition: all .45s ease-in-out;
    }
    .nav-ul li{
        padding: 1rem 1rem;
        color: white;
        font-size: 20px;
        width: 100%;
        text-align: center;
    }
    .nav-close{
        position: absolute;
        left: -100%;
    }
    .navbar-container{
        padding: 1rem 1rem;
    }
    nav ul li::before{
        display: none;
  }