.dishContainer{
    display: flex;
    justify-content: center;
    width: 80vw;
box-shadow: 0 4px 10px rgb(245, 237, 237);
padding: 10px 0;
margin: 3rem auto;
}

.col1{
    flex-basis: 35%;
 
    display: flex;
    align-items: center;
    justify-content: center;
}

.col2{
    flex-basis: 45%;

    display: flex;
    align-items: center;
    justify-content: end;
}

.price{
    font-size: 2rem;
    margin: 1rem 0;
    color: #f0aa29;
}
.foodHeader{
    text-transform: uppercase;
}

.container{
    margin: 4rem 0;
}

@media screen and (max-width:800px) {
    .dishContainer{
        display: block;
        padding: 10px;
    }

    .col2{
        justify-content: center;
    }

    .col1{
        text-align: center;
        margin: 2rem 0;
    }
}
